<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강릉여지도 - 로그인</title>
    <link rel="stylesheet" href="/css/admin/login.css">
</head>
<body>
  <main>
    <div class="login-container">
      <h1>로그인</h1>
      <hr>
      <form class="login-form">
        <input type="text" placeholder="아이디">
        <input type="password" placeholder="비밀번호">
        <button type="submit" class="login-btn">로그인</button>
      </form>
      <button class="signup-btn">회원가입</button>
      <div class="find-links">
        <a href="./find-id.html">아이디 찾기</a>
        <a href="./find-pw.html">비밀번호 찾기</a>
      </div>
    </div>
  </main>
</body>
</html>