<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/member-status.css">
</th:block>
<main layout:fragment="content">
    <div class="sidebar">
        <h3>블랙 리스트</h3>
        <hr>
        <ul>
            <li><a href="/admin/report-list">신고 리스트</a></li>
            <li><a href="/admin/member-status">회원 상태 변경</a></li>
            <li><a href="/admin/black-list">블랙 리스트</a></li>
        </ul>
    </div>
    <div class="member-status-container-root">
        <div class="member-status-container">
            <h1>회원 상태 변경</h1>
            <div class="content-wrapper">
                <div class="left-section">
                    <section class="search-status-section">
                        <div class="member-container">
                            <h3>아이디 검색</h3>
                            <form action="/admin/search-member" method="get">
                                <input type="search" class="search-member" name="memberId">
                                <button type="submit" class="search-btn">검색</button>
                            </form>
                        </div>
                        <div class="status-container">
                            <h3>상태 변경</h3>
                            <form action="/admin/modify-status" method="post">
                                <input type="text" name="memberId" th:value="${member.memberId}">
                                <input type="radio" name="status" class="change-status" th:checked="${member.status == 'NORMAL'}" value="NORMAL">정상
                                <input type="radio" name="status" class="change-status" th:checked="${member.status == 'WARN'}" value="WARN">경고
                                <input type="radio" name="status" class="change-status" th:checked="${member.status == 'BLACK'}" value="BLACK">정지
                                <button type="submit" class="change-status-btn">확인</button>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="right-section">
                    <div class="member-info-section">
                        <h3>회원 정보</h3>
                        <dl>
                            <dt>아이디</dt>
                            <dd th:text="${member.memberId}"></dd>
                            <dt>계정 상태</dt>
                            <dd th:text="${member.status}"></dd>
                            <dt>신고 횟수</dt>
                            <dd>1</dd>
                        </dl>
<!--                         <a th:if="${member == null}">검색한 회원의 정보가 없습니다.</a>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</html>