<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/notice-register.css">
</th:block>
<main layout:fragment="content">
    <div class="main-container">
        <h1>공지사항 등록</h1>
        <form action="/admin/notice/register" method="post">
            <div>
                <label for="noticeTitle">제목</label>
                <input type="text" id="noticeTitle" name="noticeSubject" required class="common-input subject-input">
            </div>
            <div>
                <label for="noticeContent">내용</label>
                <textarea id="noticeContent" name="noticeContent" required class="common-input content-input"></textarea>
            </div>
            <div>
                <label for="importantYn">상단고정여부&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="radio" name="importantYn" value="Y">&nbsp;YES&nbsp;&nbsp;
                <input type="radio" name="importantYn" value="N">&nbsp;NO
            </div>
            <div class="button-container">
                <button type="submit" class="register">등록</button>
                <button type="button" class="cancel" onclick="history.back()">취소</button>
            </div>
        </form>
    </div>
</main>
</html>