<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/qna.css">
</th:block>
<main layout:fragment="content">
    <div class="main-container">
        <h1>QnA 리스트(관리자)</h1>
        <p class="guide-message">
            관리자용 QNA 리스트 페이지입니다. <br>
            공지사항 제목 클릭 시 답변으로 이동합니다.
        </p>
        <div>
            <table class="common-table">
                <thead>
                <tr>
                    <th>QnA 번호</th>
                    <th>글제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>답변여부</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="qna : ${qnaList}">
                    <td th:text="${qna.qnaNo}"></td>
                    <td>
                        <a th:href="@{/admin/qna/answer(qnaNo=${qna.qnaNo})}" th:text="${qna.qnaSubject}"></a>
                    </td>
                    <td th:text="${qna.memberId}"></td>
                    <td th:text="${#dates.format(qna.regDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${qna.qnaAnswerCount > 0 ? '답변 완료' : '미답변'}"></td>
                </tr>
                </tbody>
<!--                <tfoot>-->
<!--                &lt;!&ndash;페이지네이션&ndash;&gt;-->
<!--                <ul class="common-pagination">-->
<!--                    <li class="common-pagination-li-end">-->
<!--                        <a th:href="@{/admin/qna(currentPage=${page.prevPage})}" th:if="${page.hasPrev}">이전</a>-->
<!--                    </li>-->
<!--                    <li th:classappend="${i == page.currentPage} ? 'common-pagination-li common-pagination-li-active' : 'common-pagination-li'" th:each="i : ${#numbers.sequence(page.startNavi, page.endNavi)}">-->
<!--                        <a th:href="@{/admin/qna(currentPage=${i})}" th:text="${i}"></a>-->
<!--                    </li>-->
<!--                    <li class="common-pagination-li-end">-->
<!--                        <a th:href="@{/admin/qna(currentPage=${page.nextPage})}" th:if="${page.hasNext}">다음</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                </tfoot>-->
            </table>
        </div>
    </div>
</main>
</html>