<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/qna.css">
</th:block>
<main layout:fragment="content">
    <div class="main-container">
        <h1>QnA 리스트(관리자)</h1>
        <div>
            <table class="common-table">
                <thead>
                <tr>
                    <th>QnA 번호</th>
                    <th>글제목</th>
                    <th>작성날짜</th>
                    <th>답변 여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>안녕하세요</td>
                    <td>2024.08.30</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>안녕하세요</td>
                    <td>2024.08.30</td>
                    <td>Y</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</html>