<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/travel-list.css">
</th:block>
<main layout:fragment="content">
    <h3>전체 여행지 목록</h3>
    <div id="travel-list-area">
        <table class="common-table">
            <colgroup>
                <col style="width: 15%;" />
                <col style="width: 55%;" />
                <col style="width: 15%;" />
                <col style="width: 15%;" />
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>여행지명</th>
                <th>권역</th>
                <th>카테고리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="travel : ${page.data}" >
                <td th:text="${travel.travelNo}"></td>
                <td><b><a th:href="@{/admin/travel/{no}(no = ${travel.travelNo}, currentPage=${page.currentPage})}" th:text="${travel.travelName}"></a></b></td>
                <td th:text="${travel.region}"></td>
                <td th:text="${travel.category}"></td>
            </tr>
            </tbody>
        </table>
        <ul class="common-pagination">
            <li class="common-pagination-li-end">
                <a th:href="@{/admin/travel(currentPage=${page.prevPage})}" th:if="${page.hasPrev}">이전</a>
            </li>
            <li th:classappend="${i == page.currentPage} ? 'common-pagination-li common-pagination-li-active' : 'common-pagination-li'" th:each="i : ${#numbers.sequence(page.startNavi, page.endNavi)}">
                <a th:href="@{/admin/travel(currentPage=${i})}" th:text="${i}"></a>
            </li>
            <li class="common-pagination-li-end">
                <a th:href="@{/admin/travel(currentPage=${page.nextPage})}" th:if="${page.hasNext}">다음</a>
            </li>
        </ul>
    </div>
</main>
</html>