<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>강릉여지도-관리자-여행지-리스트조회</title>
        <link rel="stylesheet" href="/css/admin/travel-list.css">
        <link rel="stylesheet" href="/css/admin/reset.css">
    </head>
    <body>
    <main>
        <h3>전체 여행지 목록</h3>
        <hr><br>
        <div id="travel-list-area">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>여행지명</th>
                        <th>권역</th>
                        <th>카테고리</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="travel : ${tList}" >
                        <td>${travel.travelNo}</td>
                        <td><b><a href="#">${travel.travelName}</a></b></td>
                        <td>${travel.region}</td>
                        <td>${travel.category}</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </main>
    </body>
</html>