<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let travelInfos = /*[[${travelInfos}]]*/
        const numbers = travelInfos.map((info)=>info.travelNo);
        const randomIndex = Math.floor(Math.random() * numbers.length);
        const randomNumber = numbers[randomIndex];
        console.log(randomNumber);
    </script>
    <script src="https://kit.fontawesome.com/c04d10f9dd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/js/main/mapdata.js"></script>
    <script type="text/javascript" src="/js/main/mapconfig.js"></script>
    <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
    <script type="text/javascript" src="/js/main/index.js"></script>
</th:block>
<th:block layout:fragment="css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main/index.css" rel="stylesheet">
</th:block>
<main layout:fragment="content">
    <div id="main-map-root">
        <div id="main-map">
            <canvas id="myCanvas" width="450" height="600"></canvas>
            <ul id="main-marker-tooltip">

            </ul>
            <div class="main-map-button-group">
                <button class="common-primary-btn" onclick="requestAddMark();">마커 추가 요청하기</button>
            </div>
        </div>
        <div id="main-detail">
            <div id="main-detail-top">
                <div>
                    <p class="main-detail-title">지도별로 살펴보는</p>
                    <div id="main-detail-top-divider"></div>
                </div>
                <p class="main-detail-region-travel"><span class="main-detail-region">권역별</span> <span class="main-detail-travel">여행지</span></p>
                <p class="main-detail-title main-detail-margin">다양한 강릉의 모습을 지도로 확인하실 수 있습니다. 마커를 선택하시면 해당 여행지에 대한 개요가 나타납니다.</p>
            </div>
            <div class="main-detail-category-row">
                <button type="button" class="main-detail-category-btn" id="categoryMOUNTAIN">산·트래킹</button>
                <button type="button" class="main-detail-category-btn" id="categorySEA">바다·해안</button>
                <button type="button" class="main-detail-category-btn" id="categoryPARK">호수·공원</button>
            </div>
            <div class="main-detail-category-row">
                <button type="button" class="main-detail-category-btn" id="categoryHISTORY">역사·유적</button>
                <button type="button" class="main-detail-category-btn" id="categoryDISPLAY">전시</button>
                <button type="button" class="main-detail-category-btn" id="categoryLEISURE">레저·체험</button>
            </div>
            <div id="main-detail-content-not-load">
                <div class="circular-progress"></div>
            </div>
            <div id="main-detail-content">
                <div id="main-detail-content-title">
                    <img id="main-detail-content-photo-img" alt="content" src="/img/no-image.png"/>
                    <div id="main-detail-content-photo-right">
                        <p id="main-detail-content-photo-name"></p>
                        <p id="main-detail-content-photo-star">
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star-half-o star-checked"></span>
                            <span>4.5</span>
                        </p>
                    </div>
                </div>
                <p id="main-detail-content-text"></p>
                <button id="main-detail-more">자세히 보기</button>
            </div>
        </div>
    </div>
    <h3 class="this-month-title">
        이달의 <span class="highlight">신규 여행지</span>
        <p id="detail-text">매달 새로 등록된 여행지들을 소개해 드려요</p>
    </h3>
    <!--리스트 출력-->
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="travel : ${thisMonth}">
                <div class="travel-image">
                    <a th:href="@{/travel/detail/{no}(no = ${travel.travelNo})}">
                        <img class="thumbnail" alt="thumbnail"
                             th:src="${travel.imageUrl != null ? travel.imageUrl : '/img/sample_img.png'}">
                    </a>
                </div>
                <div class="travel-detail">
                    <div class="travel-title">
                        <a th:href="@{/travel/detail/{no}(no = ${travel.travelNo})}" th:text="${travel.travelName}"></a>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>