<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/file-upload.js"></script>
    <script type="text/javascript">
        document.querySelector('#submit-btn').addEventListener('click', (e) => {
            e.preventDefault();
            const formTag = document.querySelector("#uploadForm");
            const formData = new FormData(formTag);
            // 파일을 FormData에 추가
            inputFileData.forEach(file => {
                formData.append('uploadFile', file);
            });
            ajax({
                    url: '/register-diary',
                    method: 'post',
                    payload: formData,
                    isMultipart: true
                },
                (response) => {
                    console.log('response', response);
                    location.href="/diary";
                },
                (error) => {
                    console.log('error',error)}
            );
        })
        function goback() {
            history.go(-1);
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/file-upload.css">
    <link rel="stylesheet" href="/css/myPage/register-myDiary.css">
</th:block>
<main layout:fragment="content">
    <!--    <img src="/gntour/DIARY/0efffa16-de3c-4509-8bef-ee67eb88465b.png">-->
    <div>
        <form id="uploadForm">
            <input type="hidden" value="352" name="travelNo">
            <button type="button" class="remove submit-button" onclick="goBack();">뒤로가기</button>
            <div class="my-subject"><h1>나의 여행일기</h1></div>
            <div class="main-content">
                <div class="input-content">
                    <div class="input-sub"> <b>제목</b>
                        <h2 th:text="${travelDiary.diaryTitle}"></h2>
                    </div>
                    <b>내용</b>
                    <input type="text" name="diaryContent" class="common-input content-input" id="diary-content" readonly th:value="${travelDiary.diaryContent}">
                    <b th:if="${travelDiary.diaryFiles != null && travelDiary.diaryFiles.size() > 0}">이미지</b>
                    <div class="img-container" th:if="${travelDiary.diaryFiles != null && travelDiary.diaryFiles.size() > 0}">
                        <img th:each="diaryFile : ${travelDiary.diaryFiles}" th:src="${diaryFile.webPath}">
                    </div>
                </div>
                <div class="register-btn">
                    <button class="register submit-button">
                        <a th:href="@{/modify-diary/{diaryNo}(diaryNo=${travelDiary.diaryNo})}">수정</a>
                    </button>
                    <button type="button" onclick="removeDiary();" class="cancel submit-button">삭제</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function goBack(){
            if(confirm("뒤로 가시겠습니까?")){
                history.go(-1);
            }
        }
        function removeDiary(){
            if(confirm("정말 삭제하시겠습니까?")){
                let deleteUrl = /*[[@{/remove/{diaryNo}(diaryNo=${travelDiary.diaryNo})}]]*/ '';
                location.href = deleteUrl;
            }else {
                alert("취소하셨습니다.");
            }
        }
    </script>
</main>
</html>