<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/main/mapdata.js"></script>
    <script type="text/javascript" src="/js/main/mapconfig.js"></script>
    <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
    <script type="text/javascript" src="/js/main/index.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/detail-myDiary.css">
</th:block>
    <main layout:fragment="content">
        <div class="my-subject"><h1>나의 여행일기</h1></div>
        <div class="main-content">
            <div class="input-content">
                <<div th:if="${travelDiary != null}">
                    <h2 th:text="${travelDiary.diaryTitle}"></h2>
                    <p th:text="${travelDiary.diaryContent}"></p>
                </div>
            </div>
                <div th:if="${travelDiary == null}">
                    <p>다이어리 정보를 찾을 수 없습니다.</p>
                </div>
            </div>
            <div class="register-btn">
                <button><a href="/modify-diary">수정</a></button>
                <button>삭제</button>
            </div>
    </main>
</html>