<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<head>
    <th:block layout:fragment="script">
        <script type="text/javascript" src="/js/main/mapdata.js"></script>
        <script type="text/javascript" src="/js/main/mapconfig.js"></script>
        <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
        <script type="text/javascript" src="/js/main/index.js"></script>
    </th:block>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/myPage/myDiary.css">
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <div class="my-subject"><h1>나의 여행일기 목록</h1></div>
    <div class="main-content">
        <div th:each="diary : ${page.data}" class="diary-list">
            <a th:href="@{/diary-detail/{diaryNo}(diaryNo=${diary.diaryNo})}">
                <img src="/img/wrtFileImageView.jpg">
            </a>
            <div class="diary-info">
                <a th:href="@{/diary-detail/{diaryNo}(diaryNo=${diary.diaryNo})}">
                    <span th:text="${diary.travelName}"></span>
                </a>
                <label th:text="${diary.diaryContent}"></label>
            </div>
        </div>
        <ul class="common-pagination" th:if="${page.totalCount > 0}">
            <li class="common-pagination-li-end">
                <a th:href="@{/admin/black-list(currentPage=${page.prevPage})}" th:if="${page.hasPrev}">이전</a>
            </li>
            <li th:classappend="${i == page.currentPage} ? 'common-pagination-li common-pagination-li-active' : 'common-pagination-li'" th:each="i : ${#numbers.sequence(page.startNavi, page.endNavi)}">
                <a th:href="@{/admin/black-list(currentPage=${i})}" th:text="${i}"></a>
            </li>
            <li class="common-pagination-li-end">
                <a th:href="@{/admin/black-list(currentPage=${page.nextPage})}" th:if="${page.hasNext}">다음</a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>
