<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<head>
    <th:block layout:fragment="script">
        <script type="text/javascript" src="/js/main/mapdata.js"></script>
        <script type="text/javascript" src="/js/main/mapconfig.js"></script>
        <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
        <script type="text/javascript" src="/js/main/index.js"></script>
    </th:block>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/myPage/myDiary.css">
    </th:block>
</head>
<body>
<main layout:fragment="content">
    <div class="my-subject"><h1>나의 여행일기 목록</h1></div>
    <div class="main-content">
        <div th:each="diary : ${travelDiaryList}" class="diary-list">
            <a th:href="@{/diary-detail/{diaryNo}(diaryNo=${diary.diaryNo})}">
                <img src="/img/wrtFileImageView.jpg">
            </a>
            <div class="diary-info">
                <a th:href="@{/diary-detail/{diaryNo}(diaryNo=${diary.diaryNo})}">
                    <span th:text="${diary.travelName}"></span>
                </a>
                <label th:text="${diary.diaryContent}"></label>
            </div>
        </div>
    </div>
</main>
</body>
</html>
