<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript">
        function sortFavorites() {
            // 현재 URL에서 쿼리 문자열을 추출
            const urlParams = new URLSearchParams(window.location.search);

            // 'currentPage' 매개변수의 값을 가져오기
            let currentPage = urlParams.get('currentPage');
            let isNew = urlParams.get('isNew');
            if(!currentPage) {
                currentPage = 1;
            }
            if(!isNew) {
                isNew = 'Y';
            }
            if(isNew && isNew === 'Y') {
               isNew = 'N';
            } else {
                isNew = 'Y';
            }
            location.href = `/favorites?currentPage=${currentPage}&isNew=${isNew}`;
        }
        function removeFavorite(favoriteNo) {
            if (confirm("정말로 즐겨찾기를 해제하시겠습니까?")) {
                ajax({
                    url: `/favorite/${encodeURIComponent(favoriteNo)}`,
                    method: 'delete'
                }, (response) => {
                    alert("즐겨찾기 해제를 하였습니다.");
                    location.reload();
                }, (error) => {
                    console.error('Error:', error);
                    alert("즐겨찾기 해제에 실패했습니다.");
                });
            }
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/myFavorites.css">
</th:block>
<main layout:fragment="content">
    <div class="main-center">
        <div class="my-subject"><h1>즐겨찾기</h1></div>
        <div class="main-content">
            <!--정렬-->
            <div class="sort-section">
                <div>
                    <a onclick="sortFavorites();">
                        <span th:text="${isNew != null and isNew == 'Y' ? '최신순' : '오래된순'}"></span>
                        <img src="/img/mysort.png" width="20px" height="20px">
                    </a>
                </div>
                </a>
            </div>
            <div th:each="favorite : ${page.data}" class="favorite" th:if="${page.totalCount > 0}">
                <div class="star">
                    <!--즐겨찾기-->
                    <button th:onclick="removeFavorite([[${favorite.favoritesNo}]])">
                        <img src="/img/myPage-star.png" width="30px" height="30px">
                    </button>
                </div>
                <!-- 여행지 이미지 -->
                <div class="favorite-img">
                    <a th:href="@{/travel/detail/{travelNo}(travelNo=${favorite.travelNo})}"><!-- 여행지 정보 링크 -->
                        <img th:src="${favorite.imageUrl}" width="100%" height="100%">
                    </a>
                </div>
                <!-- 여행지 이름 -->
                <div class="favorite-info">
                    <table>
                        <thead>
                            <tr>
                                <a href="#"><!-- 여행지 정보 링크 -->
                                    <td th:text="${favorite.travelName}"></td>
                                </a>
                            </tr>
                        </thead>
                        <!-- 여행지 정보 -->
                        <tbody>
                            <tr>
                                <td th:text="${favorite.introduce}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${page.totalCount == 0}" class="favorite">
                <p class="no-favorite">등록된 즐겨찾기가 없습니다.</p>
            </div>
            <ul class="common-pagination" th:if="${page.totalCount > 0}">
                <li class="common-pagination-li-end">
                    <a th:href="@{/favorites(currentPage=${page.prevPage}, isNew=${isNew})}" th:if="${page.hasPrev}">이전</a>
                </li>
                <li th:classappend="${i == page.currentPage} ? 'common-pagination-li common-pagination-li-active' : 'common-pagination-li'" th:each="i : ${#numbers.sequence(page.startNavi, page.endNavi)}">
                    <a th:href="@{/favorites(currentPage=${i}, isNew=${isNew})}" th:text="${i}"></a>
                </li>
                <li class="common-pagination-li-end">
                    <a th:href="@{/favorites(currentPage=${page.nextPage}, isNew=${isNew})}" th:if="${page.hasNext}">다음</a>
                </li>
            </ul>
        </div>
    </div>
</main>
</html>