<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<th:block layout:fragment="script">
  <script type="text/javascript" src="/js/file-upload.js"></script>
  <script type="text/javascript" src="/js/main/mapdata.js"></script>
  <script type="text/javascript" src="/js/main/mapconfig.js"></script>
  <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
  <script type="text/javascript" src="/js/main/index.js"></script>
  <script type="text/javascript" src="/js/member/myqna-register.js"></script>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/file-upload.css">
  <link rel="stylesheet" href="/css/myPage/myqna-register.css">
</th:block>
<main layout:fragment="content">
  <div>
    <form id="uploadForm" action="/myqna/register" method="post">
      <div class="my-subject">
        <h1>나의 문의사항 등록</h1>
        <input type="hidden" value="{memberId}">
      </div>
      <div class="main-content">
        <div class="input-content">
          <div class="input-sub"> <b>제목</b>
            <input type="text" name="qnaSubject" required class="common-input subject-input" id="qna-subject" placeholder="제목을 입력해주세요">
          </div>
          <b>내용</b>
          <textarea name="qnaContent" required class="common-input content-input" id="qna-content" placeholder="내용을 입력해주세요"></textarea>
          <div class="file-upload">
            <input type="file" accept="image/*" multiple>
            <button type="button" id="uploadBtn">이미지 추가</button>
            <div id="file-thumbnail-root">
            </div>
            <dialog class="imgDialog">
              <img>
            </dialog>
          </div>
        </div>
        <div class="register-btn">
          <button type="submit" class="register" id="submit-btn">등록</button>
          <button type="button" class="cancel" onclick="history.back()">취소</button>
        </div>
      </div>
    </form>
  </div>
    <script>
      document.getElementById("uploadForm").addEventListener("submit", function(e) {
        // 제출 버튼을 비활성화하여 중복 제출 방지
        document.getElementById("submit-btn").disabled = true;
      });
    </script>
</main>
</html>