<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<th:block layout:fragment="script">
  <script type="text/javascript" src="/js/file-upload.js"></script>
  <script type="text/javascript">
    document.getElementById("uploadForm").addEventListener("submit", function(e) {
      e.preventDefault();
      const formTag = document.querySelector("#uploadForm");
      const formData = new FormData(formTag);
      inputFileDataHandler['qna-upload'].inputFileData.forEach(file => {
        formData.append('uploadFile', file);
      });
      ajax({
                url: '/myqna/register',
                method: 'post',
                payload: formData,
                isMultipart: true
              },
              (response) => {
                console.log('response', response);
                location.href="/myqna/" + response.qnaNo;
              },
              (error) => {
                console.log('error',error)}
      );
    });
  </script>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/file-upload.css">
  <link rel="stylesheet" href="/css/myPage/myqna-register.css">
</th:block>
<main layout:fragment="content">
  <div>
    <form id="uploadForm">
      <div class="my-subject">
        <h1>나의 문의사항 등록</h1>
        <input type="hidden" value="{memberId}">
      </div>
      <div class="main-content">
        <div class="input-content">
          <div class="input-sub"> <b>제목</b>
            <input type="text" name="qnaSubject" required class="common-input subject-input" id="qna-subject" placeholder="제목을 입력해주세요">
          </div>
          <b>내용</b>
          <textarea name="qnaContent" required class="common-input content-input" id="qna-content" placeholder="내용을 입력해주세요"></textarea>
          <div class="file-upload" id="qna-upload">
            <input type="file" accept="image/*" multiple>
            <button type="button" id="uploadBtn" class="upload-image-btn">이미지 추가</button>
            <div class="file-thumbnail-root">
            </div>
            <dialog class="imgDialog">
              <img>
            </dialog>
          </div>
        </div>
        <div class="register-btn ">
          <button type="submit" class="register submit-button" id="submit-btn">등록</button>
          <button type="button" class="cancel submit-button" onclick="history.back()">취소</button>
        </div>
      </div>
    </form>
  </div>
</main>
</html>