<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let travelInfos = /*[[${travelInfos}]]*/
            console.log(travelInfos);
    </script>
    <script type="text/javascript" src="/js/main/mapdata.js"></script>
    <script type="text/javascript" src="/js/main/mapconfig.js"></script>
    <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
    <script type="text/javascript" src="/js/main/index.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/main/myPage/myReview.css">
</th:block>
<main layout:fragment="content">
    <div class="my-sidebar">
        <div class="my-sideList">
            <h2>마이 페이지</h2>
            <ul>
                <li><a href="/myPage.html">즐결찾기 목록</a></li>
                <li><a href="#">회원 정보 수정</a></li>
                <li><a href="/myReview.html"><b>나의 리뷰 목록</b></a></li>
                <li><a href="#">나의 여행 일기 목록</a></li>
            </ul>
            <div class="withdrawal"><a><b>회원탈퇴</b></a></div>
        </div>
    </div>
    <div>
        <div class="my-subject"><h1>리뷰 목록</h1></div>
        <div class="main-content">
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>
            <div class="main-review">
                <div class="review-sub">
                    <h4>경포 해변 <img src="/img/marker.png" alt="" width="20" height="20"></h4>
                </div>
                <div class="review-img">
                    <img src="/img/wrtFileImageView.jpg" width="100%" height="100%">
                </div>
                <div class="review-detail">경포해변 여행후기</div>
            </div>

        </div>
            <div class="my-info">
                <div class="my-inquiry">내 문의 내역</div>
                <div class="my-activity">내 활동 내역</div>
            </div>
    </div>
</main>
</html>