<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/myReview.css">
    <script src="https://kit.fontawesome.com/c04d10f9dd.js" crossorigin="anonymous"></script>
</th:block>
<main layout:fragment="content">
    <div class="main-center">
        <div class="my-subject"><h1>리뷰 목록</h1><hr></div>
        <div id="main-bottom">
            <!--리스트 출력-->
            <ul class="travels">
                <li th:each="travel : ${page.data}">
                    <div class="travel-image">
                        <a th:href="@{/travel/detail/{no}(no = ${travel.travelNo}, currentPage=${page.currentPage})}">
                            <img class="thumbnail" alt="thumbnail"
                                 th:src="${travel.imageUrl != null ? travel.imageUrl : '/img/sample_img.png'}">
                        </a>
                    </div>
                    <div class="travel-detail">
                        <div class="travel-title">
                            <a th:href="@{/travel/detail/{no}(no = ${travel.travelNo}, currentPage=${page.currentPage})}" th:text="${travel.travelName}"></a>
                        </div>
                        <div class="travel-address">
                            <div class="address-left">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="address-right">
                                <span class="address-text" th:text="${travel.address.length() > 20 ? travel.address.substring(0,20) + '...' : travel.address}"></span>
                            </div>
                        </div>
                        <div class="review-content">
                            <p th:text="${travel.reviewContent.length() > 20 ? travel.reviewContent.substring(0, 20) + '...' : travel.reviewContent}"></p>
                        </div>
                    </div>
                </li>
                <!-- 부족한 항목을 빈 항목으로 채우기 -->
                <li th:if="${(page.data.size() % 4) != 0}" th:each="i : ${#numbers.sequence(0, (4 - (page.data.size() % 4)))}">
                </li>
            </ul>
            <!--페이지네이션-->
            <ul class="common-pagination">
                <li class="common-pagination-li-end">
                    <a th:href="@{/review(currentPage=${page.prevPage})}" th:if="${page.hasPrev}">이전</a>
                </li>
                <li th:classappend="${i == page.currentPage} ? 'common-pagination-li common-pagination-li-active' : 'common-pagination-li'" th:each="i : ${#numbers.sequence(page.startNavi, page.endNavi)}">
                    <a th:href="@{/review(currentPage=${i})}" th:text="${i}"></a>
                </li>
                <li class="common-pagination-li-end">
                    <a th:href="@{/review(currentPage=${page.nextPage})}" th:if="${page.hasNext}">다음</a>
                </li>
            </ul>
        </div>
    </div>
</main>
</html>