<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/main/mapdata.js"></script>
    <script type="text/javascript" src="/js/main/mapconfig.js"></script>
    <script type="text/javascript" src="/js/main/mapmanipulate.js"></script>
    <script type="text/javascript" src="/js/main/index.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/myPage/register-myDiary.css">
</th:block>
<main layout:fragment="content">
    <div>
        <form id="uploadForm">
            <input type="hidden" value="352" name="travelNo">
        <div class="my-subject"><h1>나의 여행일기 등록</h1></div>
            <div class="main-content">
                <div class="input-content">
                    <div class="input-sub"> <b>제목</b>
                        <input type="text" name="diaryTitle" required class="common-input subject-input" id="diary-subject" placeholder="제목을 입력해주세요">
                    </div>
                    <b>내용</b>
                    <textarea name="diaryContent" required class="common-input content-input" id="diary-content" placeholder="내용을 입력해주세요"></textarea>
                    <div class="file-upload">
                        <input type="file" id="file-upload-input" name="uploadFile">
                        <label for="file-upload-input" class="file-upload-btn" id="uploadBtn">파일 선택</label>
                    </div>
                </div>
                <div class="register-btn">
                    <button type="button" class="register" id="submit-btn">등록</button>
                    <button type="button" class="cancel" onclick="goback();">취소</button>
                </div>
            </div>
        </form>
    </div>
    <script th:javascript>
        document.querySelector('#submit-btn').addEventListener('click', (e) => {
            e.preventDefault();
            const formTag = document.querySelector("#uploadForm");
            const formData = new FormData(formTag);
            ajax({
                    url: '/register-diary',
                    method: 'post',
                    payload: formData,
                    isMultipart: true
                },
                (response) => {
                    console.log('response', response);
                },
                (error) => {
                    console.log('error',error)}
            );
        })
        function goback() {
            history.go(-1);
        }
    </script>
</main>
</html>