<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/file-upload.js"></script>
    <script type="text/javascript">
        document.querySelector('#submit-btn').addEventListener('click', (e) => {
            e.preventDefault();
            const formTag = document.querySelector("#uploadForm");
            const formData = new FormData(formTag);
            // 파일을 FormData에 추가
            inputFileData.forEach(file => {
                formData.append('uploadFile', file);
            });
            ajax({
                    url: '/register-diary',
                    method: 'post',
                    payload: formData,
                    isMultipart: true
                },
                (response) => {
                    console.log('response', response);
                    location.href="/diary";
                },
                (error) => {
                    console.log('error',error)}
            );
        })
        function goback() {
            history.go(-1);
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/file-upload.css">
    <link rel="stylesheet" href="/css/myPage/register-myDiary.css">
</th:block>
<main layout:fragment="content">
    <img src="/gntour/DIARY/1d0baf55-ddea-473f-a9ee-853068402de3.png">
    <div>
        <form id="uploadForm">
            <input type="hidden" value="352" name="travelNo">
        <div class="my-subject"><h1>나의 여행일기 등록</h1></div>
            <div class="main-content">
                <div class="input-content">
                    <div class="input-sub"> <b>제목</b>
                        <input type="text" name="diaryTitle" required class="common-input subject-input" id="diary-subject" placeholder="제목을 입력해주세요">
                    </div>
                    <b>내용</b>
                    <textarea name="diaryContent" required class="common-input content-input" id="diary-content" placeholder="내용을 입력해주세요"></textarea>
                    <div class="file-upload">
                        <input type="file" accept="image/*" multiple>
                        <button type="button" id="uploadBtn">이미지 추가</button>
                        <div id="file-thumbnail-root">
                        </div>
                        <dialog class="imgDialog">
                            <img>
                        </dialog>
                    </div>
                </div>
                <div class="register-btn">
                    <button type="button" class="register submit-button" id="submit-btn">등록</button>
                    <button type="button" class="cancel submit-button" onclick="goback();">취소</button>
                </div>
            </div>
        </form>
    </div>
</main>
</html>