<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/travel/travel-complain.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link href="/css/travel/travel-complain.css" rel="stylesheet">
</th:block>
<main layout:fragment="content">
    <form id="complain-form" th:action="@{/review/complain/{travelNo}(travelNo=${travelNo})}" method="post">
        <input type="hidden" name="travelNo">
        <input type="hidden" name="reviewNo" th:value="${reviewNo}">
        <input type="hidden" name="complainKeyword">
        <div class="complain-bg">
            <h2 class="complain-title">리뷰 신고</h2>
            <div class="complain-options">
                <p class="complain-reason" data-value="noRelated">해당 여행지와 관련 없는 리뷰</p>
                <p class="complain-reason" data-value="commercial">광고 또는 프로모션이 포함된 리뷰</p>
                <p class="complain-reason" data-value="agressive">악의적인 비하 의도가 포함된 리뷰</p>
                <p class="complain-reason" data-value="abusive">욕설 또는 선정적 언어가 포함된 리뷰</p>
                <p class="complain-reason" data-value="personal">주소 또는 개인 정보가 포함된 리뷰</p>
            </div>
            <br>
            <div class="buttons">
                <button class="btn btn-submit" id="submit-review" type="button">제출</button>
                <button class="btn btn-cancel" id="close" type="button" onclick="goBack()">취소</button>
            </div>
        </div>
    </form>
    <script>

    </script>
</main>
</html>
