<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let currentPage = /*[[${currentPage}]]*/;
        let travelName = /*[[${travelName}]]*/;
        let region = /*[[${region}]]*/;
        let category = /*[[${category}]]*/;
        if(!currentPage) {
            currentPage = 1;
        }
    </script>
    <script type="text/javascript" src="/js/travel/travel-list.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link href="/css/travel/travel-list.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c04d10f9dd.js" crossorigin="anonymous"></script>
</th:block>
<main layout:fragment="content">
    <div id="main-top">

        <h3>
            <span class="highlight">전체 관광지</span> 조회
            <p id="detail-text">강릉시의 모든 관광지를 확인할 수 있어요</p>
        </h3>
        <!--검색창-->
        <div id="search">
            <div class="search-box">
                <input class="input-text" id="search-text" type="text" placeholder="여행지 이름으로 검색해보세요"
                       name="searchKeyword">
                <button id="search-btn" class="btn-icon" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <button id="condition-btn" class="btn-icon" type="submit">
                <i class="fa-solid fa-sliders"></i>
            </button>
        </div>
    </div>
    <div id="main-bottom">
    </div>
</main>
</html>