<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        const memberId = /*[[${session.memberId}]]*/
    </script>
    <script type="text/javascript" src="/js/travel/travel-detail.js"></script>
    <script type="text/javascript" src="/js/travel/travel-detail-review.js"></script>
    <script src="https://kit.fontawesome.com/c04d10f9dd.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/travel/travel-detail-popup.js"></script>
    <script type="text/javascript" src="/js/file-upload.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link href="/css/travel/travel-detail.css" rel="stylesheet">
    <link href="/css/travel/travel-detail-review.css" rel="stylesheet">
    <link href="/css/travel/travel-detail-popup.css" rel="stylesheet">
    <link href="/css/file-upload.css" rel="stylesheet">
</th:block>
<div layout:fragment="dialogs">
    <!--댓글 등록 팝업-->
    <div class="dialog-bg dialog-noshow" id="reply-add-popup">
        <form id="reply-add-form">
            <div class="white-bg">
                <h3>댓글 등록</h3><br>
                <textarea name="reviewContent" class="common-input content-input" id="reply-add-content" cols="30" rows="10" style="resize:none;" placeholder="내용을 입력해주세요"></textarea>
                <button class="btn btn-add" id="reply-add-btn">등록</button>
                <button class="btn btn-cancel" id="reply-add-close-btn">취소</button>
            </div>
        </form>
    </div>
    <!--댓글 수정 팝업-->
    <div class="dialog-bg dialog-noshow" id="reply-update-popup">
        <form id="reply-update-form">
            <div class="white-bg">
                <h3>답글 수정</h3><br>
                <textarea name="reviewContent" class="common-input content-input" id="reply-update-content" cols="30" rows="10" style="resize:none;" placeholder="내용을 입력해주세요"></textarea>
                <button class="btn btn-add" id="reply-update-btn">등록</button>
                <button class="btn btn-cancel" id="reply-update-close-btn">취소</button>
            </div>
        </form>
    </div>
    <!--리뷰 등록 팝업-->
    <div class="dialog-bg dialog-noshow" id="review-add-popup">
        <form id="review-add-form">
            <div class="white-bg">
                <h3 class="review-popup-title">리뷰 등록</h3><br>
                <p class="stars-container">
                    <span class="fa fa-star" data-value="1"></span>
                    <span class="fa fa-star" data-value="2"></span>
                    <span class="fa fa-star" data-value="3"></span>
                    <span class="fa fa-star" data-value="4"></span>
                    <span class="fa fa-star" data-value="5"></span>
                    <span>0.0</span>
                </p>
                <textarea name="reviewContent" required class="common-input content-input" id="review-add-content" cols="70" rows="10" style="resize:none;" placeholder="내용을 입력해주세요"></textarea>
                <div class="file-upload" id="review-add-file-upload">
                    <input type="file" accept="image/*" multiple>
                    <button type="button">이미지 추가</button>
                    <div class="file-thumbnail-root">
                    </div>
                    <dialog class="imgDialog">
                        <img>
                    </dialog>
                </div>
                <button class="btn btn-add" id="review-add-btn">등록</button>
                <button class="btn btn-cancel" id="review-add-close-btn">취소</button>
            </div>
        </form>
    </div>
    <!--리뷰 수정 팝업-->
    <div class="dialog-bg dialog-noshow" id="review-update-popup">
        <form id="review-update-form">
            <input type="hidden" name="reviewNo" id="review-update-no">
            <div class="white-bg">
                <h3 class="review-popup-title">리뷰 수정</h3><br>
                <p class="stars-container">
                    <span class="fa fa-star" data-value="1"></span>
                    <span class="fa fa-star" data-value="2"></span>
                    <span class="fa fa-star" data-value="3"></span>
                    <span class="fa fa-star" data-value="4"></span>
                    <span class="fa fa-star" data-value="5"></span>
                    <span id="rating-update-value">0.0</span>
                </p>
                <textarea name="reviewContent" required class="common-input content-input" id="review-content" cols="70" rows="10" style="resize:none;" placeholder="내용을 입력해주세요"></textarea>
                <div class="file-upload" id="review-modify-file-upload">
                    <input type="file" accept="image/*" multiple>
                    <button type="button">이미지 추가</button>
                    <div class="file-thumbnail-root">
                    </div>
                    <dialog class="imgDialog">
                        <img>
                    </dialog>
                </div>
                <button class="btn btn-add" id="review-update-btn">수정</button>
                <button class="btn btn-cancel" id="review-update-close-btn">취소</button>
            </div>
        </form>
    </div>
</div>
<main layout:fragment="content">
    <div id="main-top" th:style="|background-image: url(${detail.imageUrl != null ? detail.imageUrl : '/img/no-image.png'});|">
        <input type="hidden" name="travelNo" th:value="${detail.travelNo}">
        <h1 th:text="${detail.travelName}"></h1>
        <div id="category-box">
            <span id="category-txt" th:text="${detail.category}"></span>
        </div>
        <div id="score-box">
            <p class="main-detail-content-photo-star" id="star-container">
                <span id="stars" th:text="${score != null ? score : '0.0'}"></span>
            </p>
        </div>
        <div id="items">
            <i th:class="${favoritesNo != null ? 'fa-regular fa-bookmark active' : 'fa-regular fa-bookmark'}" th:data-value="${favoritesNo}"></i>
            <button id="go-diary" type="button">일기 등록</button>
        </div>
    </div>
    <div id="main-bottom">
        <div id="type">
            <button id="info-btn" class="cng-btn">정보</button>
            <button id="review-btn" class="cng-btn">리뷰</button>
        </div>
        <div id="info-section">
            <div id="info-section-left">
                <img class="thumbnail" alt="thumbnail" th:src="${detail.imageUrl} != null ? ${detail.imageUrl} : '/img/no-image.png'">
            </div>
            <div id="info-section-right">
                <ul class="info-list">
                    <li>
                        <div class="title">주소</div>
                        <div class="text" th:text="${detail.address} != null ? ${detail.address} : '업데이트 예정'"></div>
                    </li>
                    <li>
                        <div class="title">전화번호</div>
                        <div class="text" th:text="${detail.phone} != null ? ${detail.phone} : '업데이트 예정'"></div>
                    </li>
                    <li>
                        <div class="title">이용시간</div>
                        <div class="text" th:text="${detail.useTime} != null ? ${detail.useTime} : '업데이트 예정'"></div>
                    </li>
                    <li>
                        <div class="title">주차요금</div>
                        <div class="text" th:text="${detail.parkFee} != null ? ${detail.parkFee} : '업데이트 예정'"></div>
                    </li>
                    <li>
                        <div class="title">입장료</div>
                        <div class="text" th:text="${detail.entryFee} != null ? ${detail.entryFee} : '업데이트 예정'"></div>
                    </li>
                    <li>
                        <div class="title">시설 이용료</div>
                        <div class="text" th:text="${detail.useFee} != null ? ${detail.useFee} : '업데이트 예정'"></div>
                    </li>
                    <li>
                        <div class="title">홈페이지</div>
                        <div class="text">
                            <a th:href="${detail.siteUrl != null ? detail.siteUrl : '#'}"
                               th:utext="${detail.siteUrl} != null ? ${detail.siteUrl} : '업데이트 예정'"
                               th:classappend="${detail.siteUrl == null ? 'disabled' : ''}"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="about-place">
                <h2>공간소개</h2>
                <div id="info-text" th:text="${detail.introduce} != null ? ${detail.introduce} : '업데이트 예정'"></div>
            </div>
        </div>
        <div id="review-section">
            <!--내 리뷰 출력-->
            <div id="my-review"></div>
            <!--리뷰 리스트 출력-->
            <div id="review-rows"></div>
        </div>
    </div>
</main>
</html>