@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 0 140px;
    z-index: 999;
}

#header-logo {
    margin-left: 100px;
    height: 110px;
    padding: 8px;
    cursor: pointer;
}

.header-text-button {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

#header-tour{
    margin-left: auto;
    margin-right: 36px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Poor Story", system-ui;
    letter-spacing: -2px;
    transition: transform 0.3s ease-in-out;
}
#header-tour:hover {
    transform: scale(1.1);
}

#header-login {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-login-area {
    margin-right: 100px;
}

#header-my {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.header-my-expand {
    position: absolute;
    top: 100%;
    z-index: 999;
    left: 100%;
    transform: translateX(calc(-100% - 170px)) translateY(-10px);
    width: 200px;
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.5);
}

.header-my-expand>p {
    /*border-bottom: 1px solid #007FFF;*/
    padding: 10px;
    text-align: center;
}

.header-my-expand>p:first-of-type {
    font-weight: bold;
}

.header-my-expand>p:nth-child(n+2) {
    cursor: pointer;
}

.header-my-expand>p:hover:nth-child(n+2) {
    /*border-bottom: 1px solid #007FFF;*/
    background-color: #007FFF;
    color: white;
}

.header-my-expand>p:hover:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}