@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 0 140px;
}

#header-logo {
    margin-left: 100px;
    height: 110px;
    padding: 8px;
}

.header-text-button {
    background: transparent;
    border: transparent;

}

#header-tour{
    margin-left: auto;
    margin-right: 36px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Poor Story", system-ui;
    letter-spacing: -2px;
}

.header-login-area {
    margin-right: 100px;
}

#header-my {
    width: 48px;
    height: 48px;
}

.header-my-expand {
    position: absolute;
    top: 100%;
    z-index: 999;
    left: 100%;
    transform: translateX(calc(-100% - 100px));
    width: 200px;
    background: white;
    display: none;
}

.header-my-expand>p {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
}