<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
  <!-- memberId를 자바스크립트로 전달 -->
  <script type="text/javascript">
    const memberRole = 'USER';
  </script>
  <script type="text/javascript" src="/js/notice-detail.js"></script>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/notice-detail.css">
</th:block>

<body>
<main layout:fragment="content">
  <div class="main-container">
    <h1>공지사항</h1>
    <div class="notice-content">
      <h2 th:text="${notice.noticeSubject}">공지사항 제목</h2>
      <p class="date" th:text="${#dates.format(notice.regDate, 'yyyy-MM-dd')}">작성날짜</p>
      <div class="content"><pre th:utext="${notice.noticeContent}">공지사항 내용</pre></div>
    </div>

    <div class="button-section">
      <a class="list-btn" href="javascript:void(0);" onclick="goBack();">이전으로</a>
    </div>

  </div>
</main>
</body>
</html>