<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/member/find-pw.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link href="/css/member/find-pw.css" rel="stylesheet">
</th:block>
<main layout:fragment="content">
    <div class="find-pw-container">
        <h1>비밀번호 찾기</h1>
        <hr>
        <form action="find-pw" method="post" class="find-pw-form" id="find-pw-form">
            <div class="input-group">
                <input type="text" id="memberId" placeholder="아이디" class="common-input" name="memberId">
            </div>

            <div class="success-message hide message" id="id-success-message"></div>
            <div class="failure-message hide message" id="id-failure-message"></div>

            <div class="input-group email-group">
                <input type="email" id="email" placeholder="이메일 주소" class="common-input email-input" name="email">
<!--                <button type="button" class="common-secondary-btn email-btn" id="email-btn">임시 비밀번호 받기</button>-->
            </div>

            <div class="success-message hide message" id="email-success-message"></div>
            <div class="email-failure-message hide message" id="email-failure-message"></div>
               <button type="button" class="common-primary-btn find-pw-btn" id="find-pw-btn" onclick="findPwBtnClick()">임시 비밀번호 받기</button>
        </form>
        <div class="find-links">
            <a href="/find-id">아이디 찾기</a>
            <a href="/find-pw">비밀번호 찾기</a>
        </div>
    </div>
</main>
</html>