<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-page}"
      layout:decorator="layout">
<th:block layout:fragment="script">
    <script type="text/javascript" src="/js/member/modify-member.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link href="/css/member/modify-member.css" rel="stylesheet">
    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
</th:block>
<main layout:fragment="content">
    <div class="edit-profile-container">
        <h1>회원정보 수정</h1>
        <form action="/modify-member" method="post" id="modify-member-form" class="modify-member-form">
            <div class="input-group">
                <input type="text" id="memberId" placeholder="아이디" class="common-input" name="memberId" th:value="${member.memberId}" readonly>
            </div>
            <div class="input-group" >
                <input type="password" id="password" placeholder="비밀번호" class="common-input" name="password">
                <i class="fi fi-rs-eye toggle-password pwIcon"></i>
                <!--        <i class="fi fi-rr-eye-crossed toggle-password"></i>-->
            </div>

            <div class="success-message hide message" id="pw-success-message"></div>
            <div class="strongPassword-message hide message" id="pw-failure-message"></div>

            <div class="input-group">
                <input type="password" id="confirmPassword" placeholder="비밀번호 확인" class="common-input" name="confirmPassword">
                <i class="fi fi-rs-eye toggle-password cpwIcon"></i>
                <!--        <i class="fi fi-rr-eye-crossed toggle-password"></i>-->
            </div>

            <div class="success-message hide message" id="pw-check-success-message"></div>
            <div class="mismatch-message hide message" id="pw-check-failure-message"></div>

            <div class="input-group email-group">
                <input type="email" id="email" placeholder="이메일 주소" class="common-input email-input" name="email" th:value="${member.email}" readonly>
            </div>

            <div class="input-group">
                <input type="text" id="birthDate" placeholder="생년월일 8자리" class="common-input" name="birthDate" th:value="${memberBirthDate}" readonly>
            </div>

            <div class="input-group">
                <input type="text" id="name" placeholder="이름" class="common-input" name="name" th:value="${member.name}" readonly>
            </div>

            <div class="input-group">
                <input type="tel" id="phone" placeholder="전화번호(숫자만 입력)" class="common-input" name="phone" th:value="${member.phone}">
            </div>
            <div class="success-message hide message" id="phone-success-message"></div>
            <div class="email-failure-message hide message" id="phone-failure-message"></div>
            <button type="button" class="common-primary-btn modify-member-btn" onclick="modifyBtnClick();">회원정보 수정</button>
        </form>
    </div>
</main>
</html>