<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="margin: 0;
            padding: 0;">
<main>
  <div class="email-container" style="max-width: 450px;
            margin: 0 auto;">
    <div class="title" style="padding: 40px 20px;
            background-color: #007FFF;">
      <h1 style="margin: 0;
            color: #000000;
            font-size: 26px;
            font-family: BMDOHYEON;">강릉여지도 계정</h1>
    </div>

    <div class="content" style="padding: 40px 20px;
            background-color: #333333;
            color: #ffffff;">
      <h2 style="margin: 0 0 20px 0;
            font-size: 20px;
            font-weight: normal;
            font-family: 'Noto Sans KR';">강릉여지도 계정 임시 비밀번호입니다.</h2>
      <p style="margin: 0 0 20px 0;
            font-size: 16px;
            font-family: 'Noto Sans KR';">아래 임시 비밀번호를 확인하여 로그인해 주세요.</p>

      <hr class="divider" style="border: none;
            border-top: 1px solid #555555;
            margin: 10px 0;">

      <div class="verification-info" style="margin: 20px 0;">
        <div class="verification-item" style="display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
            position: relative;">
          <span class="verification-label" style="font-family:'Noto Sans KR';position:absolute;left:0;color:#cccccc;">임시 비밀번호</span>
          <span class="verification-value" th:text="${sendResetPassword}" style="font-family:'Noto Sans KR';color:#4dabf7;font-weight:bold;text-align:center;width:100%;"></span>
        </div>
      </div>

      <hr class="divider" style="border: none;
            border-top: 1px solid #555555;
            margin: 10px 0;">
    </div>

    <div class="footer" style="padding: 20px;
            background-color: #333333;
            color: #cccccc;
            font-size: 12px;
            text-align: center;">
      <p style="font-family: 'Noto Sans KR';">본 메일은 발신 전용으로 회신이 되지 않습니다.</p>
      <p style="font-family: 'Noto Sans KR';">Gangneung-Yeojido Corp. All rights reserved.</p>
    </div>
  </div>
</main>
</body>
</html>