<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:decorator="layout">
<th:block layout:fragment="script">
</th:block>
<th:block layout:fragment="css">
    <link href="/css/member/verificationmail.css" rel="stylesheet">

</th:block>
<main layout:fragment="content">
    <div class="email-container">
        <div class="title">
            <h1>강릉여지도 계정</h1>
        </div>

        <div class="content">
            <h2>강릉여지도 가입을 위한 인증번호입니다.</h2>
            <p>아래 인증번호를 확인하여 이메일 인증을 완료해 주세요.</p>

            <hr class="divider">

            <div class="verification-info">
                <div class="verification-item">
                    <span class="verification-label">인증번호</span>
                    <span class="verification-value">88617690</span>
                </div>
            </div>

            <hr class="divider">
        </div>

        <div class="footer">
            <p>본 메일은 발신 전용으로 회신이 되지 않습니다.</p>
            <p>Gangneung-Yeojido Corp. All rights reserved.</p>
        </div>
    </div>
</main>
</html>