
main {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.my-subject {
    font-family: 'BMDOHYEON'
}

.my-sidebar {
    width: 250px;
    height: 800px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.my-sidebar a {
    text-decoration: none;
    color: black;
}

.my-sideList h2 {
    font-family: 'BMDOHYEON';
    margin-bottom: 20px;
}

.my-sideList ul {
    list-style-type: none;
    padding-left: 0;
}

.my-sideList li {
    margin-bottom: 10px;
}

.withdrawal {
    margin-top: auto;
    text-align: center;
}

.my-subject {

}

.main-content {
    flex-grow: 1;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-align: center;
}

.main-content a {
    text-decoration: none;
    color: white;
}

.main-content .sort {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20px;
    margin-bottom: 20px;
}

.diary-list {
    width: 45%;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.diary-list img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    border-radius: 10px;
}

.diary-list span {
    width: 300px;
    height: 50px;
    margin-left: 50px;
}

.diary-list button {
    background-color: #007FFF;
    width: 70px;
    height: 50px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
    margin-left: 5px;
}

.register-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 500px;
    left: 55%;
    background-color: #007FFF;
    border: none;
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
}

.my-info {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.my-inquiry {
    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'BMDOHYEON'
}

.inquiry-list {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
}

.my-activity {
    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'BMDOHYEON'
}

.activity-list {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
}