<!--resources/templates/fragments/footer.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <img id="footer-logo" src="/img/footer_logo.png" alt="footer logo">
    <span id="footer-copyright">Copyright ⓒ 2024 Gangneung-Yeojido. All Rights Reserved.</span>
    <div id="footer-important-notice-area">
        <div id="footer-important-notice-title">
            <div id="footer-important-notice-title-text">
                <span>공지사항</span>
            </div>
            <div id="footer-important-notice-title-more">
                <span>더보기▶</span>
            </div>
        </div>
        <ul>
            <li>공지사항입니다.</li>
            <li>공지사항입니다.</li>
            <li>공지사항입니다.</li>
        </ul>
    </div>
</footer>
</html>