<!--resources/templates/fragments/header.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <img id="header-logo" src="/img/main_logo.png" alt="main logo"/>
    <button id="header-tour" class="header-text-button">관광지 찾기</button>
    <div class="header-login-area" th:if="${session.memberId != null && session.memberId != ''}">
        <img id="header-my" src="/img/default_profile.png" alt="profile">
    </div>
    <div class="header-login-area" th:if="${session.memberId ==null || session.memberId == ''}">
        <button id="header-login" class="header-text-button">로그인</button>
    </div>
    <div class="header-my-expand" th:if="${session.memberId != null && session.memberId != ''}">
        <p th:text="${session.memberId}"></p>
        <p>마이페이지</p>
        <p onclick="logoutBtnClick();">로그아웃</p>
    </div>
</header>
</html>