<!--resources/templates/fragments/header.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="my-sidebar" class="my-sidebar">
    <div class="my-sideList">
        <h2>마이 페이지</h2>
        <ul>
            <li><a href="/favorites" class="normal-link">즐겨찾기</a></li>
            <li><a href="/modify-member" class="normal-link">회원 정보 수정</a></li>
            <li><a href="/review" class="normal-link">나의 리뷰</a></li>
            <li><a href="/diary" class="normal-link"><b>나의 여행 일기</b></a></li>
            <li><a href="/myqna" class="normal-link">문의 내역</a> </li>
            <li><a href="/remove-member" class="withdrawal">회원탈퇴</a></li>
        </ul>
    </div>
</aside>
</html>