main {
    padding: 20px;
}
.main-container {
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f5f5f5;*/
}

/* 화면 타이틀 */
h1 {
    font-family: 'BMDOHYEON', sans-serif;
    padding-bottom: 10px;
    text-align: center;
}
.question-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}
h3{
    text-align: center;
}
.question-container p {
    margin: 5px 0;
    font-size: 14px;
    margin-left: 15px;
}
.input-group {
    margin-top: 20px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Noto Sans KR";
}
.input-group input, .input-group textarea:focus{
    outline: none;
    border-color: #3399FF;
}
.input-group textarea {
    resize: vertical;
    height: 150px;
    resize: none;
}
/* 공통 버튼 스타일 */
button, .btn-back {
    background-color: #007FFF;
    width: 100px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin: 0 5px; /* 버튼 간격 */
}

button:hover, .btn-back:hover {
    background-color: #3399FF;
}

/* 삭제 버튼만 붉은색 유지 */
.btn-delete {
    background-color: #f44336;
}

.btn-delete:hover {
    background-color: #e53935;
}

/* 목록으로 이동 버튼 */
.btn-back {
    background-color: #c7c7c7; /* 파란색 */
}

.btn-back:hover {
    background-color: #3399FF; /* 마우스 호버시 색상 */
}
.answer-container{
    padding-top: 10px;
    width: 95%;
    margin : 0 auto;
}
.answer-container p{
    margin-left: 15px;
    font-size: 0.9em;
}

.button-group {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    text-align: center;
    display: inline-flex;      /* 플렉스를 사용해 수직과 가로 정렬을 쉽게 조정 */
    align-items: center;       /* 플렉스 정렬로 수직 가운데 정렬 */
    justify-content: center;   /* 플렉스 정렬로 가로 가운데 정렬 */
}