a {
    text-decoration: none;
    color: black;
}

main {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
/* 타이틀 */
h3 {
    font-family: "BMDOHYEON", serif;
    font-size: 34px;
    font-weight: 400;
    padding-top: 40px;
}
#travel-list-area {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}