@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

main {
    position: relative;
}

.common-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Noto Sans KR";
}

.common-input:focus{
    outline: none;
    border-color: #3399FF;
}

.common-input-error {
    border: 1px solid red;
    background-image: url('/img/common_alert.png') ;
    background-size: 20px;
    background-position:  5px center;
    background-repeat: no-repeat;
    text-indent: 0;
    padding-left: 30px;
}

.common-primary-btn {
    background-color: #007FFF;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
}

.common-primary-btn:hover{
    background-color: #3399FF;
}

.common-secondary-btn {
    background-color: #454545;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
}

.common-secondary-btn:hover{
    background-color: #808080;
}

.common-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.common-table th,
.common-table td {
    padding: 12px;
    text-align: center;
    font-family: 'Noto Sans KR';
    border: none;
}

.common-table th {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #007FFF;
}

.common-table td {
    font-size: 14px;
}

.common-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.common-table tr:hover {
    background-color: #e2e2e26c;
}

.common-pagination-li-end {
    display: inline-block;
}

.common-pagination {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.common-pagination-li {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #E8E9ED;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.common-pagination-li a{
    text-decoration: none;
    color: #78797B;
    width: 100%;
    text-align: center;
}

.common-pagination-li-end a {
    text-decoration: none;
    color: black;
}

.common-pagination-li-active {
    background-color: #3399FF;
    border: transparent;
}

.common-pagination-li-active a {
    color: white;
}