main {
    padding: 20px;
}

#uploadForm {
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 0 auto;
}
/* 화면 타이틀 */
h2 {
    font-family: 'BMDOHYEON', sans-serif;
    padding-bottom: 50px;
    padding-top : 20px;
    text-align: center;
}
form div {
    margin-bottom: 20px;
}

.content-input {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    display: block;
}

.submit-button {
    font-size: 1em;
    width: 100px;
    height: 30px;
    background-color: #007FFF;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 5px;
}
button:hover {
    background: #3399FF;
}
/* 취소버튼 색상 변경*/
.cancel {
    background-color: #c7c7c7;
}
/*버튼 가운데 정렬*/
.update-btn {
    text-align: center;
}

.update-btn a {
    text-decoration: none;
    color: white;
}

.img-container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 (필요 시) */
    width: 100%;             /* 컨테이너의 너비를 100%로 설정 */
}

.img-container img {
    display: block;          /* 인라인 요소를 블록으로 변경 */
    max-width: 100%;         /* 이미지가 컨테이너 크기를 넘지 않도록 조정 */
    height: auto;            /* 이미지의 비율을 유지하면서 크기를 조정 */
    margin: 0 auto;          /* 이미지의 중앙 정렬 */
}