.main-content {
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-subject {
    font-family: 'BMDOHYEON';
    display: flex;
}

.input-content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-sub {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-content div {
    padding-bottom: 20px;
}

.main-content input {
    width: 80%;
    height: 25px;
}

.main-content textarea {
    width: 80%;
    height: 600px;
}

.file-div {
    width: 80%;
    display: flex;
    justify-content: end;
}
.file-div button {
    background-color: #007FFF;
    width: 20%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
}

.register-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.register-btn button {
    background-color: #007FFF;
    width: 20%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
    margin-left: 10px;
}

.my-info {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.my-inquiry, .my-activity {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: 'BMDOHYEON'
}