main {
    width: 60%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;

}

.main-center {
    width: 100%;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.my-subject {
    text-align: center;
    font-family: 'BMDOHYEON';
}

.my-subject hr {
    width: 35%;
    margin: 10px auto;
    border: 0;
    border-top: 3px solid black;
}

.diary {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* 그림자 강화 */;
}

.diary-img img{
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
}


.diary-info table {
    width: 100%;
    border-collapse: collapse;
}

.diary-info th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.diary-info td {
    padding: 10px;
    text-align: center;
}
.diary-info {
    width: 100%;
    display: flex;
}

.diary-info tbody tr:last-child td {
    border-bottom: none;
}

.no-diary {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.diary-title {
    font-size: 18px;
    text-decoration: none;
    color: black;
}