main {
    width: 60%;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;

}

.main-center {
    width: 100%;
    margin-top: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.content h1 {
    display: flex;
    justify-content: center;
}

.diary {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.diary-img img{
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-radius: 10px;
}


.diary-info table {
    width: 100%;
    border-collapse: collapse;
}

.diary-info th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.diary-info td {
    padding: 10px;
    text-align: center;
}
.diary-info {
    width: 100%;
}

.diary-info tbody tr:last-child td {
    border-bottom: none;
}

.my-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

.my-inquiry, .my-activity {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-inquiry h3, .my-activity h3 {
    margin-bottom: 10px;
    color: #333;
}

.inquiry-list, .activity-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.no-diary {
    width: 100%;
    text-align: center;
    padding: 10px;
}