@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
main {
    padding: 20px;
}
/* 화면 타이틀 */
h1 {
    font-family: 'BMDOHYEON', sans-serif;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
}

.main-content-wrapper {
    margin : 0 auto;
    justify-content: center;
    max-width: 1000px;
    flex: 1;
    padding: 20px;
}

.main-content-wrapper h1 {
    display: flex;
    justify-content: center;
}

.my-subject {
    margin-bottom: 20px;
}

/*테이블*/
.common-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.common-table th,
.common-table td {
    padding: 12px;
    text-align: center;
    font-family: 'Noto Sans KR';
    border: none;
}

.common-table th {
    background-color: #ffffff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #007FFF;
}

.common-table td {
    font-size: 14px;
}

.common-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.common-table tr:hover {
    background-color: #e2e2e26c;
}

.register-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.register-btn button {
    background-color: #007FFF;
    width: 20%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Noto Sans KR";
    margin-top:40px;
}

.register-btn button a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.register-btn button:hover {
    background-color: #3399FF;
}

.my-info {
    margin-top: 40px;
}

.my-inquiry, .my-activity {
    margin-bottom: 30px;
}

.my-inquiry h3, .my-activity h3 {
    margin-bottom: 15px;
}

.inquiry-list, .activity-list {
    display: flex;
    justify-content: space-between;
}

.inquiry-list div, .activity-list div {
    flex: 1;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.inquiry-list div:last-child, .activity-list div:last-child {
    margin-right: 0;
}

.inquiry-list div:hover, .activity-list div:hover {
    background-color: #e9ecef;
}
.not-yet{

}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
