main {
    margin: 40px auto 0;
    width: 80%;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: black;
}
/* 메인 탑 */
#main-top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
    h3 {
        font-family: "BMDOHYEON", serif;
        font-size: 40px;
        font-weight: 400;
        padding: 30px 0 30px 10px;
        float: left;
    }
        .highlight {
            color: #EE450C;
        }
        #detail-text {
            font-family: "Noto Sans KR", sans-serif;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -1px;
        }
    /* 검색창 */
    #search {
        width: 430px;
        height: 100%;
        padding: 30px 0;
    }
        .search-box {
            border: 2px solid #3399FF;
            border-radius: 30px;
            width: 360px;
            height: 50px;
            float: left;
        }
            .input-text {
                margin-left: 20px;
                width: 280px;
                height: 42px;
                outline: 0;
                border: 0;
                font-size: 18px;
                font-family: "Noto Sans KR", sans-serif;
                letter-spacing: -0.6px;
            }
            .input-text::placeholder {
                color: #B7AAAA;
            }
            .btn-icon {
                background-color: #FFF;
                color: #3399FF;
                border: none;
                font-size: 28px;
                cursor: pointer;
            }
        #condition-btn {
            font-size: 36px;
            padding-top: 5px;
            margin-left: 20px;
        }
            .fa-magnifying-glass {
                padding-top: 8px;
            }

/* 리스트 */
#main-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}
    .travels {
        width: 100%;
        margin: 15px auto;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        transform: translateY(30px);
        justify-content: center;
        align-items: center;
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    }
        .travels li {
            width: 350px;
            height: 100%;
            margin: 10px 15px;
        }

            /* 썸네일 */
            .travel-image {
                height: 330px;
            }
                .thumbnail {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    border-radius: 20px;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                }
                .thumbnail:hover {
                    transform: scale(1.03);
                }
            .travel-detail {
                margin-top: 15px;
                padding-left: 5px;
                height: 30px;
            }
                /* 여행지명 */
                .travel-title {
                    margin-bottom: 15px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                    .travel-title a, .travel-title a:visited
                    , .travel-title a:link {
                        text-decoration: none;
                        color: black;
                        font-size: 19px;
                        letter-spacing: -2px;
                        font-weight: bold;
                        font-family: "Noto Sans KR", sans-serif;
                    }

                    /* 즐겨찾기 버튼 */
                    .fa-bookmark {
                        cursor: pointer;
                        color: black;
                        background-color: white;
                        font-size: 22px;
                        padding-right: 10px;
                        padding-top: 3px;
                    }
                    .fa-bookmark.active {
                        color: #FFD43B;
                        font-weight: bolder;
                    }
                /* 주소 */
                .travel-address {
                    margin: 0 5px;
                    width: 98%;
                    height: 100%;
                }
                    /* 주소 아이콘 */
                    .address-left {
                        width: 8%;
                        float: left;
                    }
                        .fa-location-dot {
                            color: #00A155;
                            font-size: 22px;
                            padding-right: 3px;
                            padding-top: 3px;
                        }
                    .address-right {
                        width: 92%;
                        float: right;
                        padding-bottom: 5px;
                    }
                        .address-text {
                            font-size: 17px;
                            letter-spacing: -1.4px;
                            font-weight: normal;
                            font-family: "Noto Sans KR", sans-serif;
                        }
                        .common-pagination {
                            margin: 80px 0;
                        }

.travel-list-no-content {
    font-weight: bold;
    font-size: 20px;
}

.circular-progress {
    width: 50px;  /* 원형의 크기를 설정 */
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);  /* 회색 배경 원형 */
    border-top: 5px solid #007FFF;  /* 파란색 진행 원형 */
    border-radius: 50%;  /* 원형으로 만들기 */
    animation: spin 1s linear infinite;  /* 회전 애니메이션 */
    margin: 50px auto;  /* 중앙 정렬 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);  /* 시작점 */
    }
    100% {
        transform: rotate(360deg);  /* 끝점 */
    }
}