main {
    font-size: 30px;
    padding-bottom: 96px;
}

#main-map-root {
    /*background-color: #FFF8F0;*/
    background-image: url("/img/main-background.png");
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    background-size: 1903px 790px;
}

    #main-map {
        position: relative;
        margin-left: 100px;
    }

        #main-marker-tooltip {
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            border: 1px solid #007FFF;
            border-radius: 10px;
            /* 너비는 콘텐츠에 맞춰 자동 조정되도록 설정 */
            width: fit-content;
            /* 자식 요소가 넘치면 보이도록 설정 */
            overflow: visible;
        }

        #main-marker-tooltip p {
            font-size: 13px;
            padding: 10px 15px;
            border-bottom: 1px dashed #DADADA;
            width: 100%;
            /* 줄 바꿈 방지 및 너비 조정 */
            white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
            overflow: visible; /* 넘치는 텍스트 숨기기 */
            /* 자식 요소의 콘텐츠에 맞게 너비 조정 */
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            font-weight: bold;
        }

        #main-marker-tooltip li:last-of-type p:last-of-type {
            border-bottom: transparent;
        }
        .main-map-button-group {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .main-map-button-group>button {
            width: 150px;
        }
    #main-detail {
        margin-left: auto;
        margin-right: 320px;
    }
        #main-detail-top {
            width: 468px;
            margin-bottom: 25px;
        }
            .main-detail-title {
                display: inline-block;
                font-size: 18px;
                color: #282828;
            }
            .main-detail-margin {
                margin-top: 10px;
            }
            #main-detail-top>div:first-of-type {
                width: 100%;
                display: flex;
                align-items: center;
            }
            #main-detail-top>div:first-of-type>div {
                flex: 1 1 auto;
                height: 1px;
                background-color: #E6E1DB;
            }
            .main-detail-region-travel {
                margin-top: 10px;
            }
            .main-detail-region-travel>span:first-of-type {
                color: #282828;
                font-size: 42px;
                font-weight: bold;
                font-family: "BMDOHYEON";
            }
            .main-detail-region-travel>span:last-of-type {
                color: #EE450C;
                font-size: 42px;
                font-weight: bold;
                font-family: "BMDOHYEON";
            }
        .main-detail-category-row {
            margin-top: 10px;
        }
            .main-detail-category-btn {
                cursor: pointer;
                height: 50px;
                width: 153px;
                border-radius: 25px;
                border: transparent;
                background-color: white;
                color: black;
                font-size: 17px;
                font-weight: bold;
                box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
            }
        #main-detail-content-not-load {
            background-color: white;
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
            padding: 40px;
            margin-top: 40px;
            width: 468px;
            height: 341px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        #main-detail-content {
            background-color: white;
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.05);
            padding: 40px;
            margin-top: 40px;
            width: 468px;
            display: flex;
            flex-direction: column;
            height: 341px;
        }

            #main-detail-content-title {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

                #main-detail-content-photo-img {
                    width: 90px; /* 표시할 이미지의 너비 */
                    height: 90px; /* 표시할 이미지의 높이 */
                    object-fit: cover; /* 이미지 크기에 맞게 자르기 */
                    object-position: center; /* 이미지 중심을 표시 */
                    overflow: hidden; /* 이미지를 자르고 넘치는 부분 숨기기 */
                    border-radius: 50%;
                    border: 6px solid #F5F0E5;
                    flex-grow: 0;
                    flex-shrink: 0;
                }
                #main-detail-content-photo-right{
                    display: flex;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-direction: column;
                    overflow: hidden;
                }
                #main-detail-content-photo-name {
                    font-size: 21px;
                    font-weight: bold;
                    color: #282828;

                    width: 100%;
                    margin-left: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                /* 별점 */
                #main-detail-content-photo-star {
                    margin-left: 15px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    margin-top: 10px;
                    align-items: center;
                }
                #main-detail-content-photo-star span {
                    font-size: 18px;
                }
                .fa {
                    -webkit-text-stroke: 1px #FFA500;
                }
                .unchecked {
                    color: transparent;
                }
                .checked {
                    color: orange;
                }
                h1, #category-box, #score-box {
                    opacity: 0;
                    transform: translateY(20px);
                    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
                }
                .star-checked {
                    color: orange;
                }
            #main-detail-content-text {
                font-size: 16px;
                margin-top: 10px;
            }
            #main-detail-more {
                cursor: pointer;
                background-color: white;
                border: 1px solid #D4D1CC;
                padding: 12px 24px;
                margin-top: 12px;
            }


.this-month-title {
    font-family: "BMDOHYEON", serif;
    font-size: 40px;
    font-weight: 400;
    padding: 30px 0;
    padding-left: 180px;
    margin-top: 72px;
}
.this-month-title>span:first-of-type {
    color: #EE450C;
}
    #detail-text {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.8px;
    }
.swiper-slide {
    display: inline-block;
    width: 350px;
    height: 100%;
    margin: 10px 60px;
    flex-shrink: 0;
}
    .travel-image {
        height: 330px;
    }
        .thumbnail {
            width: 100%;
            height: 100%;
            background-size: cover;
            border-radius: 20px;
            object-fit: cover;
        }
    .travel-detail {
        margin-top: 15px;
        padding-left: 5px;
        height: 30px;
    }
        .travel-title {
            margin-bottom: 15px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
        }
        .travel-title a, .travel-title a:visited
        , .travel-title a:link {
            text-decoration: none;
            color: black;
            font-size: 19px;
            letter-spacing: -2px;
            font-weight: bold;
            font-family: "Noto Sans KR", sans-serif;
        }

.swiper-slide-active img{
    border: 5px solid #3399FF;
}

.swiper-slide-active .travel-title a {
    color: #3399FF;
}

.swiper-slide-active .travel-title i {
    color: #3399FF;
}

.circular-progress {
    width: 50px;  /* 원형의 크기를 설정 */
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);  /* 회색 배경 원형 */
    border-top: 5px solid #007FFF;  /* 파란색 진행 원형 */
    border-radius: 50%;  /* 원형으로 만들기 */
    animation: spin 1s linear infinite;  /* 회전 애니메이션 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);  /* 시작점 */
    }
    100% {
        transform: rotate(360deg);  /* 끝점 */
    }
}

.common-primary-btn {
    /*box-shadow: -4px 4px 1px #F9F1E6;*/
    transition: all 0.3s ease;
}
.common-primary-btn:hover {
    transform: translateY(-2px); /* Y축으로 살짝 위로 이동 */
    box-shadow: -4px 8px 5px rgba(0, 0, 0, 0.2); /* 그림자 강화 */
}