main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.request-mark-container {
    padding: 20px;
    width: 400px;
}

.request-mark-container h1 {
    font-family: 'BMDOHYEON';
    margin-bottom: 10px;
    text-align: center;
}
.request-mark-container hr {
    background-color: black;
    height: 4px;
    margin-bottom: 10px;
}

.request-mark-form .input-group {
    position: relative;
}

.common-input {
    margin-bottom: 0;
    margin-top: 10px;
}

.address-group {
    display: flex;
    justify-content: space-between;
}

.address-input {
    width: 68%;
}

#search-address-btn {
    width: 28%;
    margin-top: 10px;
}

.common-secondary-btn:hover{
    background-color: #808080;
}

input:focus,
select:focus {
    outline: currentColor;
    border-color: #3399FF;
}

.common-primary-btn:hover{
    background-color: #3399FF;
}

.hide {
    display: none;
}

.message {
    color: #EE450C;
    font-size: 12px;
}

.success-message {
    color: #3399FF;
}
.border-red:focus ,.border-red{
    border: 1px solid #EE450C;
}

.register-btn {
    margin-top: 10px;
    text-align: center;
}

.request-mark-button {
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}