main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.find-id-container {
    padding: 20px;
    width: 400px;
}

.find-id-container h1 {
    font-family: 'BMDOHYEON';
    margin-bottom: 10px;
    text-align: center;
}

.find-id-container hr {
    background-color: black;
    height: 4px;
    margin-bottom: 10px;
}

.common-input {
    margin-bottom: 0;
    margin-top: 10px;
}

.find-id-btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.find-links {
    display: flex;
    justify-content: space-evenly;
}

.find-links a {
    color: #454545;
    text-decoration: none;
    font-size: 14px;
    font-family: "Noto Sans KR";
}

.view-find-id {
    background-color: #f3f3f3;
    margin-top: 20px;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-links a:hover {
    font-weight: bold;
    color: #3399FF;
}

.hide {
    display: none;
}

.message {
    color: #EE450C;
    font-size: 12px;
}

.success-message {
    color: #3399FF;
}
.border-red:focus ,.border-red{
    border: 1px solid #EE450C;
}



