main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.signup-container {
    padding: 20px;
    width: 400px;
}

.signup-container h1 {
    font-family: 'BMDOHYEON';
    margin-bottom: 10px;
    text-align: center;
}
.signup-container hr {
    background-color: black;
    height: 4px;
    margin-bottom: 10px;
}

.signup-form .input-group {
    position: relative;
}

.common-input {
    margin-bottom: 0;
    margin-top: 10px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 16px;
}
.email-group, .auth-group{
    display: flex;
    justify-content: space-between;
}

.email-input, .auth-input{
    width: 68%;
}

.email-btn, .auth-btn {
    width: 29%;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}

.common-secondary-btn:hover{
    background-color: #808080;
}


input:focus,
select:focus {
    outline: currentColor;
    border-color: #3399FF;
}

.common-primary-btn:hover{
    background-color: #3399FF;
}

.find-links a:hover {
    color: #3399FF;
}

.signup-button {
    margin-top: 20px;
}

.find-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.find-links a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Noto Sans KR';
}

.hide {
    display: none;

}

.message {
    color: #EE450C;
    font-size: 12px;
    /*padding: 0px 30px 0px 30px;*/
}

.success-message {
    color: #3399FF;
}