main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.edit-profile-container {
    padding: 30px;
    width: 400px;
}

.edit-profile-container h1 {
    font-family: 'BMDOHYEON';
    margin-bottom: 10px;
    text-align: center;
}

.edit-profile-container hr {
    background-color: black;
    height: 4px;
    margin-bottom: 10px;
}

.input-group {
    position: relative;
}

.common-input {
    margin-bottom: 0;
    margin-top: 10px;
}

.password{
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 16px;
}

input:focus {
    outline: currentColor;
    border-color: #3399FF;
}

.common-primary-btn:hover{
    background-color: #3399FF;
}

.modify-member-btn{
    margin-top: 20px;
}

.hide {
    display: none;
}

.message {
    color: #EE450C;
    font-size: 12px;
}

.success-message {
    color: #3399FF;
}
.border-red:focus ,.border-red{
    border: 1px solid #EE450C;
}

